body {
    background-color: black;
    background-image: url(assets/gothamwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 300px;
    border: 5px solid rgb(190, 19, 19);
    border-radius: 15px;
    width: auto;
}

footer p{
    color: rgb(212, 212, 24);
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(212, 212, 24);
    font-size: 100px;
    padding: 50px;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(212, 212, 24);
    font-size: 50px;
    text-align: center;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(212, 212, 24);
    font-size: 30px;
}

h4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(219, 22, 22, 0.871);
    font-size: 25px;
}

header{
    text-align: center;
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.noticia {
    display: flex;
    align-items: center;
    gap: 20px;
}

.noticia img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin: 15px;
}

.separador img{
    height: 200px;
    width: 1890px;
    object-fit: cover;
    border: 4px solid white;
    border-radius: 0px;
}