body {
    background-color: black;
    background-image: url(assets/gothamwall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 300px;
    border: 5px solid rgb(190, 19, 19);
    border-radius: 15px;
    width: auto;
}

footer p{
    color: rgb(212, 212, 24);
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(212, 212, 24);
    font-size: 100px;
    padding: 50px;
}

header{
    text-align: center;
}

.meio{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

