body {
    background-color: black;
    background-image: url(assets/batman-back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

img {
    height: 300px;
    border: 5px solid rgb(190, 19, 19);
    border-radius: 15px;
}

footer p{
    color: rgb(212, 212, 24);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(212, 212, 24);
    font-size: xx-large;
    padding: 50px;
}